services:
  emqx-broker:
    image: emqx/emqx:latest  # v5.7.1 or latest, MQTT v5
    container_name: emqx-broker
    ports:
      - "1883:1883"  # Non-TLS (optional)
      - "8883:8883"  # TLS
      - "18083:18083"  # Dashboard
    volumes:
      - emqx_data:/opt/emqx/data
    environment:
      EMQX_NAME: emqx
      EMQX_HOST: 127.0.0.1
      EMQX_NODE__COOKIE: my-secure-cookie-123  

    restart: always

volumes:
  emqx_data: